<launch>
    <!-- 对象检测节点 -->
    <node pkg="pcl_detection" type="pcl_detection_detector_node" name="object_detector" output="screen">
        <!-- 使用 rosparam 加载 YAML 配置文件到节点私有命名空间 -->
        <rosparam command="load" file="$(find pcl_detection)/config/sample_config.yaml" />
    </node>

    <!-- RViz 可视化节点 -->
    <node pkg="pcl_detection" type="pcl_detection_visualizer_node" name="detection_visualizer" output="screen">
        <param name="result_topic" value="/pcl_detection/result" />
        <param name="marker_topic" value="/pcl_detection/visualization/marker" />
    </node>
</launch>
